<div ng-if="userInfo.permissions.split(',').indexOf('29')>-1" class="report-list">
    <div class="page-title">人工存入统计</div>
    <div class="table">
        <table-float-header data-float-element="table-advanced-search" data-float-thead="table-thead"></table-float-header>
        <div class="table-advanced-search">
            <div class="advanced-search-box" style="width: 35%">
                <span class="search-box-text">存入时间(美东)：</span>
                <input style="width: 150px" onchange="" class="input" datepicker="yyyy-MM-dd HH:mm:ss" max="table.query.endtime"
                       type="text" ng-model="table.query.startime" /> 至 <input style="width: 150px" onchange=""
                                                                               class="input" type="text" datepicker="yyyy-MM-dd HH:mm:ss" min="table.query.startime" ng-model="table.query.endtime"
            />
            </div>
            <label class="advanced-search-box">
                <span class="search-box-text">项目：</span>
                <select class="input" ng-model="table.query.items"  ng-options="key as value for (key,value) in reportItems">
                    <option value="">全部</option>
                </select>
            </label>
            <label class="advanced-search-box">
                <span class="search-box-text">关键字：</span>
                <input  class="input" type="text" maxlength="40"
                        ng-model="table.query.keyword" placeholder="会员账号，订单号，备注" />
            </label>
            <div class="advanced-search-box">
                <span class="search-box-text"> </span>
                <button class="btn btn-default" ng-click="table.ready=false;table.getList(1)">搜索</button>
                <button class="btn btn-blue" ng-click="export()">导出报表</button>
            </div>
        </div>
        <table>
            <thead class="table-thead">
            <tr>
                <td>订单号</td>
                <td>会员账号</td>
                <td>备注</td>
                <td>项目</td>
                <td>存入时间(美东)</td>
                <td>存入金额</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="!table.ready">
                <td colspan="6">正在加载。。。</td>
            </tr>
            <tr ng-if="table.error">
                <td colspan="6">获取列表错误，{{table.errorMsg}}<br/>请刷新页面</td>
            </tr>
            <tr ng-if="table.ready && !table.error && table.list==0">
                <td colspan="6">没有查询到记录</td>
            </tr>
            <tr ng-if="table.ready && !table.error" ng-repeat="list in table.list">
                <td ng-bind="list.order_no"></td>
                <td ng-bind="list.account"></td>
                <td ng-bind="list.remark"></td>
                <td ng-bind="list.type"></td>
                <td ng-bind="list.time"></td>
                <td ng-bind="list.amount"></td>
            </tr>
            <tr>
                <td colspan="15" align="right">小计：{{table.current_total_amount||'0.00'}} 总计：{{table.total_amount||'0.00'}}</td>
            </tr>
            </tbody>
        </table>

        <div class="table-num">共查询出 <span ng-bind="table.total"></span> 条记录，每页显示
            <select class="input" ng-model="table.query.perPage" ng-change="table.getList(1)">
                <option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option>
            </select> 条
        </div>
        <div table-page="table"></div>
    </div>
</div>
<div ng-if="userInfo.permissions.split(',').indexOf('29')<0" style="margin-top: 30px;text-align: center">无访问权限</div>