<div class="password-Dialog">
    <div ng-if="userInfo.lastlogin" class="dialog-title">
        修改密码
    </div>
    <div ng-if="!userInfo.lastlogin" class="dialog-title">
        首次登陆，请修改密码
    </div>
    <label class="input-box"><span>当前密码：</span>
        <input class="input" type="password" maxlength="18" ng-model="change.old_password" /></label>
    <label class="input-box"><span>新密码：</span>
        <input class="input" type="password" maxlength="18" ng-model="change.new_password" /></label>
    <label class="input-box"><span>确认新密码：</span>
        <input class="input" type="password" maxlength="18" ng-model="change.new_password_confirm" /></label>
    <div align="center" class="color-red" ng-show="error" ng-bind="errorMsg"></div>
    <div align="center">
        <button class="btn btn-green" ng-click="sub()">确定</button>
        <button ng-if="userInfo.lastlogin" class="btn btn-default" ng-click="closeThisDialog()">取消</button>
    </div>
</div>