<div class="pay-list">
    <div class="page-title">微信加好友记录</div>
    <div class="table">
        <table-float-header data-float-element="table-advanced-search" data-float-thead="table-thead"></table-float-header>
        <div class="table-advanced-search">
            <label class="advanced-search-box">
                        <span class="search-box-text">会员账号：</span>
                        <input  class="input" type="text" maxlength="30" datatype="EN"
                                ng-model="table.query.account" />
                </label>
            <div class="advanced-search-box">
                <span class="search-box-text">订单号：</span>
                <input class="input" style="width: 180px" ng-model="table.query.orderNo" />
            </div>
            <div class="advanced-search-box">
                <span class="search-box-text"> </span>
                <button type="button" class="btn btn-default" ng-click="table.ready=false;table.getList(1)">搜索</button>
            </div>
        </div>
        <table>
            <thead class="table-thead">
                <tr>
                    <td>会员名称</td>
                    <td>支付方式</td>
                    <td>业务平台</td>
                    <td>充值终端</td>
                    <td>充值金额</td>
                    <td>充值时间</td>
                    <td>订单号</td>
                    <td>操作</td>
                    <td>操作人</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!table.ready">
                    <td colspan="9">正在加载。。。</td>
                </tr>
                <tr ng-if="table.error">
                    <td colspan="9">获取列表错误，{{table.errorMsg}}<br/>请刷新页面</td>
                </tr>
                <tr ng-if="table.ready && !table.error && table.list==0">
                    <td colspan="9">没有查询到支付记录</td>
                </tr>
                <tr ng-if="table.ready && !table.error" ng-repeat="list in table.list">
                    <td ng-bind="list.user"></td>
                    <td ng-bind="{'1':'网银','2':'微信','3':'支付宝','4':'QQ钱包','5':'京东','6':'百度','7':'银联','8':'微信APP','9':'支付宝APP','10':'QQ钱包APP','11':'京东APP','12':'百度钱包APP','13':'银联APP'}[list.pay_type]"></td>
                    <td ng-bind="companyInfo[list.company_id].name"></td>
                    <td ng-bind="{'0':'','1':'PC端','2':'移动端'}[list.device]"></td>
                    <td ng-bind="list.money"></td>
                    <!--td ng-bind="list.created_at"></td-->
                    <td>{{list.created_at}}(当地)<br/>{{list.created_at_edt}}(美东)</td>
                    <td ng-bind="list.order_no"></td>
                    <td>
                        <a ng-if="list.rk_status==0" ng-click="act(list,1)">入款</a>
                        <a class="ml-1" ng-if="list.rk_status==0" ng-click="act(list,2)">忽略</a>
                        <span ng-if="list.rk_status==1" class="color-green">已入款</span>
                        <span ng-if="list.rk_status==2">已忽略</span>
                    </td>
                    <td ng-bind="list.rk_user"></td>
                </tr>
            </tbody>
        </table>
        <div class="table-num">共查询出 <span ng-bind="table.total"></span> 条记录，每页显示
            <select class="input" ng-model="pageSet[payType]" ng-change="setPage()">
                <option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option>
            </select> 条
        </div>
        <div table-page="table"></div>
    </div>
</div>
