<div class="welcome">
    <div class="page-title">
        <span>欢迎您 {{userInfo.realname||userInfo.username}}</span>
    </div>
    <div class="link-box">
        <a ng-repeat="menu in onlinePay" href="#!/{{menu.memo}}">
            <div class="link waves-effect waves-dark" ng-if="userInfo.permissions.split(',').indexOf(menu.permissionId)>-1">
                <div class="link-icon" ng-style="menu.css">
                    <i ng-class="menu.icon"></i>
                </div>
                <div class="link-name" ng-bind="menu.name"></div>
            </div>
        </a>
    </div>
    <div class="link-box">
        <a ng-repeat="menu in transferPay" href="#!/{{menu.memo}}">
            <div class="link waves-effect waves-dark" ng-if="userInfo.permissions.split(',').indexOf(menu.permissionId)>-1">
                <div class="link-icon" ng-style="menu.css">
                    <i ng-class="menu.icon"></i>
                </div>
                <div class="link-name" ng-bind="menu.name"></div>
            </div>
        </a>
    </div>
    <div class="link-box">
        <a ng-repeat="menu in aliPay" href="#!/{{menu.memo}}">
            <div class="link waves-effect waves-dark" ng-if="userInfo.permissions.split(',').indexOf(menu.permissionId)>-1">
                <div class="link-icon" ng-style="menu.css">
                    <i ng-class="menu.icon"></i>
                </div>
                <div class="link-name" ng-bind="menu.name"></div>
            </div>
        </a>
    </div>
    <div class="link-box">
        <a ng-repeat="menu in wechatPay" href="#!/{{menu.memo}}">
            <div class="link waves-effect waves-dark" ng-if="userInfo.permissions.split(',').indexOf(menu.permissionId)>-1">
                <div class="link-icon" ng-style="menu.css">
                    <i ng-class="menu.icon"></i>
                </div>
                <div class="link-name" ng-bind="menu.name"></div>
            </div>
        </a>
    </div>

    <div class="link-box">
        <a ng-repeat="menu in artificialDeposit" href="#!/{{menu.memo}}">
            <div class="link waves-effect waves-dark" ng-if="userInfo.permissions.split(',').indexOf(menu.permissionId)>-1">
                <div class="link-icon" ng-style="menu.css">
                    <i ng-class="menu.icon"></i>
                </div>
                <div class="link-name" ng-bind="menu.name"></div>
            </div>
        </a>
    </div>

    <div class="link-box">
        <a ng-repeat="menu in payOutMenu" href="#!/{{menu.memo}}">
            <div class="link waves-effect waves-dark" ng-if="userInfo.permissions.split(',').indexOf(menu.permissionId)>-1">
                <div class="link-icon" ng-style="menu.css">
                    <i ng-class="menu.icon"></i>
                </div>
                <div class="link-name" ng-bind="menu.name"></div>
            </div>
        </a>
    </div>
    <div class="link-box">
        <a ng-repeat="menu in reportMenu" href="#!/{{menu.memo}}">
            <div class="link waves-effect waves-dark" ng-if="userInfo.permissions.split(',').indexOf(menu.permissionId)>-1">
                <div class="link-icon" ng-style="menu.css">
                    <i ng-class="menu.icon"></i>
                </div>
                <div class="link-name" ng-bind="menu.name"></div>
            </div>
        </a>
    </div>
    <div class="link-box">
        <a ng-repeat="menu in userMenu" href="#!/{{menu.memo}}">
            <div class="link waves-effect waves-dark" ng-if="userInfo.permissions.split(',').indexOf(menu.permissionId)>-1">
                <div class="link-icon" ng-style="menu.css">
                    <i ng-class="menu.icon"></i>
                </div>
                <div class="link-name" ng-bind="menu.name"></div>
            </div>
        </a>
    </div>
</div>