*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
}
body{
    min-width: 1000px;
    min-height:800px;
    background-color:#000;
    background: url('../img/pay/bg.jpg') center top no-repeat;
    /*background-clip:border-box;*/
}
a{
    text-decoration: none;
}
img{
    border:0;
}
.clearfix{
    clear: both;
}
.head{
    width: 910px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
}
/*头部按钮部分*/
.desc{
    float: left;
    width: 222px;
    height:60px;
    margin: 0 2px;
    cursor: pointer;
    display: block;
}
.desc-1{
    background: url("../img/pay/btn_002_n.png") no-repeat center;
}
.desc-1:hover{
    background: url("../img/pay/btn_002_h.png") no-repeat center;
}
.desc-1:active{
    background: url("../img/pay/btn_002_s.png") no-repeat center;
}
.desc-2{
    background: url("../img/pay/btn_003_n.png") no-repeat center;
}
.desc-2:hover{
    background: url("../img/pay/btn_003_h.png") no-repeat center;
}
.desc-2:active{
    background: url("../img/pay/btn_003_s.png") no-repeat center;
}
.desc-3{
    background: url("../img/pay/btn_004_n.png") no-repeat center;
}
.desc-3:hover{
    background: url("../img/pay/btn_004_h.png") no-repeat center;
}
.desc-3:active{
    background: url("../img/pay/btn_004_s.png") no-repeat center;
}
.desc-4{
    background: url("../img/pay/btn_005_n.png") no-repeat center;
}
.desc-4:hover{
    background: url("../img/pay/btn_005_h.png") no-repeat center;
}
.desc-4:active{
    background: url("../img/pay/btn_005_s.png") no-repeat center;
}
/*中间内容部分*/
.content{
    width: 1000px;
    padding-top:175px;
    margin:0 auto;
    text-align: center;
}
.content-inner{
    width: 850px;
    margin: 30px auto 0;
    text-align: left;
    position: relative;
}
.service{
    display: block;
    position: absolute;
    right: -56px;
    top: -26px;
    width:122px;
    height:132px;
    background: url("../img/pay/btn_001_n.png") no-repeat;
}
.service:hover{
    background: url("../img/pay/btn_001_h.png") no-repeat;
}
.service:active{
    background: url("../img/pay/btn_001_s.png") no-repeat;
}
.content-inner .desc{
    display: inline-block;
}
.content-title{
    height: 55px;
    line-height: 55px;
    font-size: 32px;
    font-weight: bold;
    color: #474747;
    border-bottom: 1px solid #ccc;
    margin: 0 5px;
    text-align: center;
}
.content-top{
    height: 330px;
    overflow: hidden;
}
.top-left{
    float: left;
    width: 320px;
}
.top-right{
    margin-left: 320px;
}
.top-tip{
    background: url("../img/phone.png") left center no-repeat;
    height: 240px;
    padding: 20px 0 20px 175px;
}
.top-tip-alipay{
    background: url("../img/zhifubao.png") left center no-repeat;
}
.tip-title{
    font-size: 18px;
    font-weight: bold;
    color: #fa0000;
    padding: 10px 0;
}
.tip-content{
    padding: 5px;
    font-size: 12px;
    color: #4b4b4b;
    line-height: 22px;
}
.steps{
    width: 488px;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    padding: 10px;
    color: #6c6c6c;
    overflow: hidden;
    margin-left: 40px;
}
.steps-title{
    width: 107px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    text-align: center;
    height: 60px;
    padding: 3px 0;
}
.steps-content{
    float: left;
    border-left: 1px solid #d5d5d5;
    padding: 10px 9px;
    height: 60px;
    font-weight: bold;
}
.steps-no{
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.content-bottom{
    overflow: hidden;
}
.bottom-left{
    width: 420px;
    float: left;
    line-height: 22px;
    color: #797979;
    font-size: 12px;
    padding: 5px 0 0 25px;
}
.bottom-right{
    margin-left: 492px;
    text-align: center;
    padding: 5px 60px 0 0;
    font-size: 12px;
}
.confirm{
    background: url("../img/confirm.png");
    width: 189px;
    height: 47px;
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
}
.confirm:hover{
    background: url("../img/confirm_hover.png");
}
.red{
    color: #ff0000;
}
.footer{
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    padding: 15px 0;
}
.box{
    width:290px;
    height: 290px;
    margin:10px 15px;
    background: url("../img/qrcode_bg.jpg");
    text-align: center;
}
.box-alipay{
    background: url("../img/qrcode_bg_1.png");
}
.qrcode{
    width: 208px;
    height: 208px;
    border: 1px solid #2f2f2f;
    margin: 41px auto;
}
.confirm-box{
    background: #fff;
    border:2px solid #ff0000;
    border-radius: 10px;
    padding: 30px 20px;
    width: 480px;
    position: absolute;
    text-align: center;
}
.confirm-content{
    font-size: 20px;
    line-height: 35px;
    text-align: left;
}
.confirm-box a{
    background: url("../img/confirm_close.png");
    width: 189px;
    height: 47px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}
.confirm-box a:hover{
    background: url("../img/confirm_close_hover.png");
}
.footer{
    text-align: center;
    font-size: 14px;
    color: #505050;
    font-weight: 300;
    padding-top: 60px;
}
/*错误信息样式*/
#mask{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height:100%;
    background:url("../img/pay/bg_op.png");
    font-size: 16px;
    display: none;
}
#mask .alert_words{
    background-color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    position: absolute;
    top: 46%;
    left: 50%;
}
