#chart-waper{
    height:500px;
    padding: 48px 22px 10px 28px;
}
.compared{
    position: absolute;
    right: 300px;
    top: 110px;
    z-index: 99;
}
.frequency{
    position: absolute;
    right: 100px;
    top: 110px;
    z-index: 99;
}